.code {
  font-size: 50px;
  color: white;
}
.description p {
  font-size: 20px !important;
}

.ad-image-big {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
.ad-image-big .ad-img-big {
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .ad-image-big {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
  .ad-image-big .container {
    width: 100%;
  }
  .ad-image-big .container .ad-img-big {
    width: 100%;
    height: auto;
  }
}

.ad-image {
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px 0;
}
.ad-image .container {
  width: 100%;
}
.ad-image .container a {
  width: 80%;
  overflow: hidden;
  height: 0px !important;
  transform: translateY(-1px);
}
.ad-image .container a .ad-img {
  width: auto;
  height: 100%;
  border: none;
  margin: auto;
  position: relative;
}

@media (max-width: 992px) {
  .ad-image {
    max-width: 100%;
  }
  .ad-image .container {
    max-width: 100%;
    margin: 0;
  }
  .ad-image .container .ad-img {
    max-width: 100%;
    height: 42px !important;
    margin: 0 auto;
  }
}

.related-projects {
  color: #222222;
}

.projetcsCarousel {
  margin-top: 20px;
}
.projetcsCarousel .containermy .row .container h1 {
  display: none;
}

.row {
  margin-bottom: 0;
}

.text {
  display: table;
  color: #fff;
  margin: auto;
}
.text h2 {
  font-size: 2em;
  letter-spacing: 0.5em;
  font-weight: 400;
  font-family: 'Cairo', sans-serif;
}
.text h2.titleAr {
  letter-spacing: 0 !important;
  font-family: 'JFRegular', sans-serif;
}
.text h2.titleAr::after {
  display: none;
}
.text hr {
  border: 2px solid #cda036;
  width: 30%;
  margin: auto;
}

.tabs {
  margin: 40px 0 0 0 !important;
  height: 80px;
  width: 100% !important;
  background-color: #222222;
}
.tabs ul {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.tabs ul li {
  width: 25%;
  display: inline;
  padding: 15px;
  color: #fff;
  background-color: #222222;
  font-size: 1.3em;
  cursor: pointer;
}
.tabs ul li.active {
  border-bottom: 4px solid #cda036 !important;
}
.tabs ul li:hover {
  background-color: #cda036;
}

.pop-up {
  background-color: transparent;
  width: 10vw;
  position: fixed;
  left: 0;
  bottom: 0px;
  z-index: 10;
  text-align: center;
  transition: all 0.3s ease-in;
}
.pop-up .pop-up-image img {
  margin: auto;
  width: 90%;
  margin-bottom: -10px;
}
.pop-up .pop-up-input {
  background-color: #222222;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.pop-up .pop-up-input div h6 {
  color: #fff;
  margin: 15px 5px 5px 5px;
}
.pop-up .pop-up-input div a {
  background-color: #499bea;
  background: filter-gradient(#499bea, #207ce5, horizontal);
  background-image: linear-gradient(left, #499bea 0%, #207ce5 100%);
  margin: 5px;
  font-size: 0.7em;
}
.pop-up .pop-up-input div a.infoTextAr {
  font-family: 'JFRegular', sans-serif;
}

.down {
  opacity: 0;
  transform: translateX(-200px);
}

.up {
  display: fixed;
  transform: translateX(0);
}

.ad-img {
  margin-top: 40px;
  border: 1px solid #222222;
  height: 245px;
  width: 100%;
  cursor: pointer !important;
}
.ad-img .ad-link-107 {
  width: 100% !important;
  height: 100% !important;
  display: table;
  cursor: pointer;
  background-image: url('https://res.cloudinary.com/dd5e5iszi/image/upload/v1531315462/other/7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ad-img .ad-link-107.titleAr {
  background-image: url('https://res.cloudinary.com/dd5e5iszi/image/upload/v1531315462/other/7.jpg') !important;
}
.ad-img .ad-link-11 {
  width: 100% !important;
  height: 100% !important;
  display: table;
  cursor: pointer;
  background-image: url('https://res.cloudinary.com/dd5e5iszi/image/upload/v1525346130/projects/cayan-107/Asset-9.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ad-img .ad-link-11.titleAr {
  background-image: url('https://res.cloudinary.com/dd5e5iszi/image/upload/v1525346230/projects/cayan-107/Asset-10.jpg') !important;
}

@media (max-width: 992px) {
  .pop-up {
    width: 40vw;
    z-index: 2000;
    display: none;
  }
  .projetcsCarousel {
    margin-top: 20px;
  }
  .projetcsCarousel .containermy .row .container h1 {
    display: none !important;
  }
  .ad-img {
    border: none;
    width: 100%;
    height: 85px;
  }
  .ad-img .ad-link {
    width: 100%;
    height: 100px;
    background-size: contain;
  }
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  body .text {
    text-align: center;
  }
  body .text h2 {
    letter-spacing: 0.2em;
    font-size: 1.6em;
    line-height: 1.3em;
    font-weight: 200;
    margin: 10px 0;
  }
}

@media (min-width: 993px) and (max-width: 1300px) {
  .pop-up {
    width: 15vw;
  }
  .ad-img {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 80%;
  }
  .ad-img .ad-link {
    background-position: -90px 0px;
  }
}

/*# sourceMappingURL=EachProject.css.map */
