@font-face {
  font-family: DroidKufiRegular;
  src: url('fonts/DroidKufi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: DroidKufiBold;
  src: url('fonts/DroidKufi-Bold.ttf') format('truetype');
}

@font-face {
  font-family: JFLight;
  src: url('fonts/JF-Flat-light.ttf') format('truetype');
}

@font-face {
  font-family: JFRegular;
  src: url('fonts/JF-Flat-regular.ttf') format('truetype');
}

* {
  font-family: 'Cairo', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
span::selection {
  background-color: #cda036;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  height: 100%;
  overflow: auto;
}
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
  width: 100%;
}
